
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  background: black;
}

#wrapper{
  width: 100%;
  max-width: 1180px;
  background: #202020;
  margin: 0 auto;
  padding: 20px 0px;
  border-radius: 0px 0px 50px 50px;
}

h1{
  text-align: center;
  color: grey;
  font-size: 2em;
  font-family: arial;
  padding: 20px;
}

h2{
  text-align: center;
  color: grey;
  font-size: 1.5em;
  font-family: arial;
  padding-bottom: 20px;
}

h3{
  text-align: center;
  color: grey;
  font-size: 1.5em;
  font-family: arial;
  padding-bottom: 20px;
  font-style: italic;
}

#wrapper-normal{
  width: 100%;
  max-width: 1180px;
  background: #202020;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
}
.clearfix{
  clear: both;
}


.profile{
  max-width: 460px;
  margin: 0 auto;
  padding: 20px;
}

.profile .avatar{
  width: 100%;
  max-width: 460px;
  border: 2px solid white;
  border-radius: 50px;
}

.arrow{
  text-align: center;
}

.profile input[type="text"]{
  width: 100%;
  background: black;
  border-radius: 25px;
  border: 2px solid white;
  font-size: 1.5em;
  color: rgb(48,43,47);
  text-align: center;

}

.profile input[type="button"]{
  width: 100%;
  background: #404040;
  border-radius: 25px;
  border: 2px solid white;
  font-size: 1.5em;
  color: white;
  font-family: arial;

}

.profile button{
  width: 100%;
  background: #404040;
  border-radius: 25px;
  border: 2px solid white;
  font-size: 1.5em;
  color: white;
  font-family: arial;

}

#info, #timer{
  width: 100%;
  background: black;
  border-radius: 25px;
  border: 2px solid white;
  font-size: 1.5em;
  color: white;
  font-family: arial;
  margin: 20px 0px;
  padding: 10px 0px;
  text-align: center;

}

.profile span{
  color: grey;
}

.profile p{
  color: white;
  font-size: 1.5em;
  font-family: arial;
  padding: 10px 0px;
  text-align: center;
}

.navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid white;
}

.navi li {
    display: inline;
}

.navi li a {
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 1.5em;
    font-family: arial;
}

.navi li a:hover {
    background-color: #111;
    border-radius: 50px;
}

.footer{
  background:  #333;
  color: white;
  text-align: center;
  font-family: arial;
  font-size: 1em;
  border-top: 2px solid white;
  padding: 20px;
}

.footer-text p{
  width: 50%;
  float: left;
}

#weather{
  color: white;
}

#timer p{
  color: grey;
  font-size: 1em;
}

.btn-style{
  background: #333;
  text-align: center;
  border-radius: 25px;
  font-size: 1em;
  font-family: arial;
  color: white;
  padding: 20px 0px;
  line-height: 20px;
}

#addItem, #removeItem{
  width: 100%;
  background: #404040;
  border-radius: 25px;
  border: 2px solid white;
  font-size: 1.5em;
  color: white;
  font-family: arial;
  margin-bottom: 10px;
  margin-top: 10px;
}

#table-list p{
  width: 100%;
  border-radius: 25px;
  border: 2px solid white;
  font-size: 1em;
  color: white;
  font-family: arial;
}

#item{
  margin-bottom: 10px;
}

#mob{
  display: none;
}

#hamburger{
  display: none;
}

#animals-type{
	visibility: hidden;
	padding: 20px;

}

iframe{
  width: 100%;
  height: 320px;
  border-radius: 50px;
  border: 2px solid white;
}

/*#first-prom{
	color: red;
}

#second-prom{
	color: orange;
}

#third-prom{
	color: white;
}*/

#introduction{
	color: grey;
}

#chkBox{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#gallery{
	width: 100%;
	max-width: 500px;
	margin: 50px auto;
	border: 2px solid white;
	border-radius: 50px;
}

#current{
	width: 90%;
	max-width: 500px;
	border: 3px solid black;
	margin: 15px auto;
	border-radius: 50px;
}

.thumb{
	width: 70px;
	height: 70px;
	margin: 10px 5px;
	border: 1px solid grey;
	border-radius: 30px;
	cursor: pointer;
}

.photos{
	text-align: center;
}

#text-area {
    height: 200px;
    overflow: auto;
		border: 2px solid white;

}

#content-txt-area {
    max-height: 500px;
    background-color: grey;
}

#info-description{
	border: 2px solid white;
	border-radius: 50px;
	background: black;
}



@media screen and (max-width: 640px){
  #hamburger{
    display: block;
    text-align: center;
    cursor: pointer;
    padding-bottom: 20px;
  }


  #mob{
    display: none;
    margin: 0 auto;
    transition: 2s linear;
  }


  .mobile li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      padding: 20px;
      text-align: center;
      border-bottom: 2px solid white;
  }

  .mobile li a {
      color: white;
      text-align: center;
      padding: 20px;
      text-decoration: none;
      font-size: 1em;
      font-family: arial;
  }

  .mobile li:hover {
      background: #404040;
  }

  nav{
    display: none;
  }
}
